canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade {
  animation: fadeOut 2s ease-out;
}

#pickup {
  opacity: 0;
  position: absolute;
  display: inline-block;
  bottom: 10%;
  right: 10%;
  color: rgb(179, 255, 0);
  background-color: rgba(149, 255, 0, 0.423);
  border-radius: 5%;
  font-size: 200%;

}

#pickup-name {
  display: inline-block;
}

#pickup-count {
  display: inline-block;
  margin-right: 8px;
}

#toolSelector {
  position: absolute;
  display: flex;
  bottom: 5%;
  right: 5%;
}



/*=========== Progress Circle ========= */

#use-circle-container {
  position: absolute;
  width: 30px;
  height: 30px;
}

#circular-progress {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#middle-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: white;
}

#spawn-item-container {
  pointer-events: all;
}

/* ========= */

/* =========== Inventory Boxes ==========*/
.selection-box, .inventory-box {
  background-color: rgba(128, 128, 128, 0.462);
  margin-right: 5px;
}

.inventory-box {
  min-width: 80px;
  min-height: 80px;
}

.selection-box {
  width: 40px;
  height:  40px;
}

#inventory {
  z-index: 1;
}

.inventory-box-row {
  display: flex;
  margin-bottom: 5px;
}

.inventory-box {
  position: relative;
  width: 2vw;
  height: 2vw;
  margin-right: 10px;
  background-color: rgba(73, 73, 73, 0.833);
  color: wheat;
}

.inventory-box p {
  position: absolute;
  top: -10px;
  font-size: 1vw;
}

.selection-icon, .item-icon {
  width: 110%;
  height: auto;
  transform: rotate(-45deg);
}

.item-icon {
  margin-left: 10%;
  width: 50%;
  height: 50%;
}
/* =============================*/




/* ========= Inventory Menu ===========*/
#inventory-menu, #inventory-backdrop {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#inventory-backdrop {
  z-index: 0;
  background-color: rgba(255, 200, 0, 0.227);
}
#inventory-topBar {
  z-index: 1;
  min-width: 370px;
  width: 15vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#inventory-topBar button {
  pointer-events: all;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(245, 222, 179, 0.466);
  padding: 0px 20px;
  border-radius: 10%;
  margin: 0 20%;
}

/* ========================= */



/* ======== Crafting Menu ========= */
#crafting-menu {
  width: 40%;
  height: 53%;
  background-color: rgba(128, 128, 128, 0.112);
  pointer-events: all;
}
#recipe-box {
  background-color: rgb(0, 0, 0);
  color: rgb(37, 169, 0);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  cursor: grab;
  user-select: none;
}
#recipe-box p {
  display: inline;
  margin-right: 10px;
  color: red;
}





/* ===================*/